Repository kojiyamauchi/next-light-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

.lintstagedrc.yml:

./**/*.{ts,tsx}:
  - prettier --write
  - eslint --fix --max-warnings 0
./**/*.{js,jsx}: prettier --write
src/**/*.scss: stylelint --fix

fix lint rule.
  .eslintrc.yml
Due: none

update build command.
  .github/workflows/ci-for-preview.yml
  .github/workflows/ci.yml
  .github/workflows/delivery.yml
  .github/workflows/preview.yml
Due: none

fix.
  lint.dev/index.js
Due: prettier --write

some update.
  .eslintrc.yml
  lint.dev/eslint.dev.js
  lint.dev/index.js
  lint.dev/stylelint.dev.js
  next-env.d.ts
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

update components.
  src/components/Layouts/FixedLayout/index.tsx
  src/components/Presentations/Image/Component.tsx
Due: prettier --write, eslint --fix --max-warnings 0

update unit test.
  src/components/Presentations/Image/Image.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

update snap shots.
  src/components/Layouts/FixedLayout/__snapshots__/FixedLayout.test.tsx.snap
  src/components/Presentations/Image/__snapshots__/Image.test.tsx.snap
Due: none

fix scss.
  src/styles/utilities.scss
Due: stylelint --fix

update next.config.js
  next.config.js
Due: prettier --write

update jest.config.ts
  jest.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

update hygen.
  .hygen/add/store/Store.test.ts.t
  .hygen/add/store/Store.ts.t
Due: none

add @storybook/manager-webpack5
  package.json
Due: none

fix image path.
  src/components/Layouts/FixedLayout/index.tsx
  src/components/Presentations/Image/Component.tsx
Due: prettier --write, eslint --fix --max-warnings 0

update component.
  src/components/Presentations/Image/Component.tsx
  src/components/Presentations/Image/Hooks.ts
Due: prettier --write, eslint --fix --max-warnings 0

update hygen.
  .hygen/add/component/Component.stories.tsx.t
  .hygen/add/component/Component.test.tsx.t
  .hygen/add/component/Hooks.test.ts.t
  .hygen/add/hooks/Hooks.test.ts.t
Due: none

remove unnecessary files.
  .git-ftp-ignore
Due: none

update github actions.
  .github/workflows/delivery.yml
Due: none

update hygen.
  .hygen/add/component/Hooks.test.ts.t
  .hygen/add/hooks/Hooks.test.ts.t
Due: none

update modules.
  package.json
Due: none

update next-env.d.ts
  next-env.d.ts
Due: prettier --write, eslint --fix --max-warnings 0

update around remark on api.ts
  src/fetcher/api.ts
Due: prettier --write, eslint --fix --max-warnings 0

update snap shot.
  src/components/Presentations/Image/__snapshots__/Image.test.tsx.snap
Due: none

update delivery.yml
  .github/workflows/delivery.yml
Due: none

update modules & npm script.
  package.json
Due: none

update snap shot test.
  src/components/Layouts/BlogListLayout/BlogListLayout.test.tsx
  src/components/Layouts/BlogPostLayout/BlogPostLayout.test.tsx
  src/components/Layouts/FixedLayout/FixedLayout.test.tsx
  src/components/Managements/HeaderContainer/HeaderContainer.test.tsx
  src/components/Presentations/BlogListData/BlogListData.test.tsx
  src/components/Presentations/BlogListHeading/BlogListHeading.test.tsx
  src/components/Presentations/BlogListPager/BlogListPager.test.tsx
  src/components/Presentations/BlogPostContent/BlogPostContent.test.tsx
  src/components/Presentations/BlogPostData/BlogPostData.test.tsx
  src/components/Presentations/BlogPostPager/BlogPostPager.test.tsx
  src/components/Presentations/Footer/Footer.test.tsx
  src/components/Presentations/GlobalHeading/GlobalHeading.test.tsx
  src/components/Presentations/Image/Image.test.tsx
  src/components/Presentations/Navigation/Navigation.test.tsx
  src/components/Presentations/PageHeading/PageHeading.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

update hygen.
  .hygen/add/component/Component.test.tsx.t
  .hygen/add/component/Hooks.test.ts.t
Due: none

update github actions.
  .github/workflows/ci-for-preview.yml
  .github/workflows/ci.yml
  .github/workflows/delivery.yml
  .github/workflows/preview.yml
Due: none
