Repository kojiyamauchi/next-light-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

update style.
  src/styles/default.scss
Due: stylelint --fix

update tsconfig.json
  tsconfig.json
Due: none

add ＠types dir.
  src/types/@types/.gitkeep
Due: none

update gitignore.
  .gitignore
Due: none

move webfont path. (scss -> document.tsx)
  src/pages/_document.tsx
  src/styles/default.scss
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

update modules & command.
  package.json
Due: none

add cspell.yml
  cspell.yml
Due: none

remove lint.dev
  lint.dev/color.js
  lint.dev/eslint.dev.js
  lint.dev/images/logo_eslint.png
  lint.dev/images/logo_stylelint.png
  lint.dev/index.js
  lint.dev/stylelint.dev.js
Due: prettier --write

update cspell.yml
  cspell.yml
Due: none

update setting.json
  .vscode/settings.json
Due: none

update aroung eslint.
  .eslintignore
  .eslintrc.yml
Due: none

update around jest.
  jest.config.ts
  jestFileTransformer.js
Due: prettier --write, eslint --fix --max-warnings 0

update .lintstagedrc.yml
  .lintstagedrc.yml
Due: none

udpate tsconfig.json
  tsconfig.json
Due: none

update hygen.
  .hygen/add/component/Component.test.tsx.t
  .hygen/add/component/Component.tsx.t
  .hygen/add/component/Hooks.test.ts.t
  .hygen/add/component/index.js
Due: prettier --write

update around next.js
  next-env.d.ts
  next.config.js
Due: prettier --write, eslint --fix --max-warnings 0

update around storybook.
  .storybook/main.js
Due: prettier --write

add pathpida types.
  src/types/$path.ts
Due: prettier --write, eslint --fix --max-warnings 0

rename markdown cms api.
  src/cmsApi/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

update components.
  src/components/Layouts/BlogListLayout/index.tsx
  src/components/Layouts/BlogPostLayout/index.tsx
  src/components/Layouts/FixedLayout/index.tsx
  src/components/Layouts/index.tsx
  src/components/Managements/HeaderContainer/Component.tsx
  src/components/Presentations/BlogListData/Component.tsx
  src/components/Presentations/BlogListHeading/Component.tsx
  src/components/Presentations/BlogListPager/Component.tsx
  src/components/Presentations/BlogPostContent/Component.tsx
  src/components/Presentations/BlogPostData/Component.tsx
  src/components/Presentations/BlogPostPager/Component.tsx
  src/components/Presentations/Footer/Component.tsx
  src/components/Presentations/GlobalHeading/Component.tsx
  src/components/Presentations/Image/Component.tsx
  src/components/Presentations/Navigation/Component.tsx
  src/components/Presentations/PageHeading/Component.tsx
  src/components/Seo/index.tsx
Due: prettier --write, eslint --fix --max-warnings 0

update test.
  src/components/Layouts/BlogListLayout/BlogListLayout.test.tsx
  src/components/Layouts/BlogPostLayout/BlogPostLayout.test.tsx
  src/components/Layouts/FixedLayout/FixedLayout.test.tsx
  src/components/Managements/HeaderContainer/HeaderContainer.test.tsx
  src/components/Presentations/BlogListData/BlogListData.test.tsx
  src/components/Presentations/BlogListHeading/BlogListHeading.test.tsx
  src/components/Presentations/BlogListPager/BlogListPager.test.tsx
  src/components/Presentations/BlogPostContent/BlogPostContent.test.tsx
  src/components/Presentations/BlogPostData/BlogPostData.test.tsx
  src/components/Presentations/BlogPostPager/BlogPostPager.test.tsx
  src/components/Presentations/Footer/Footer.test.tsx
  src/components/Presentations/GlobalHeading/GlobalHeading.test.tsx
  src/components/Presentations/Image/Image.test.tsx
  src/components/Presentations/Navigation/Navigation.test.tsx
  src/components/Presentations/PageHeading/PageHeading.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

update snapshots.
  src/components/Layouts/BlogListLayout/__snapshots__/BlogListLayout.test.tsx.snap
  src/components/Layouts/BlogPostLayout/__snapshots__/BlogPostLayout.test.tsx.snap
  src/components/Layouts/FixedLayout/__snapshots__/FixedLayout.test.tsx.snap
  src/components/Presentations/Footer/__snapshots__/Footer.test.tsx.snap
Due: none

update around pages.
  src/pages/404.tsx
  src/pages/500.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/blog-category/[[...slug]].tsx
  src/pages/blog-list/[[...slug]].tsx
  src/pages/blog-post/[slug].tsx
  src/pages/fourth.tsx
  src/pages/index.tsx
  src/pages/secondary.tsx
  src/pages/third.tsx
Due: prettier --write, eslint --fix --max-warnings 0

update hooks.
  src/components/Presentations/Image/Hooks.ts
Due: prettier --write, eslint --fix --max-warnings 0

update ducks.
  src/ducks/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

update .gitignore
  .gitignore
Due: none

add yarn.lock
  yarn.lock
Due: none

update hygen.
  .hygen/add/page/Page.ts.t
Due: none

update README.md
  README.md
Due: none

remove webpack5 flag on next.config.js
  next.config.js
Due: prettier --write

update hygen.
  .hygen/add/component/Component.tsx.t
  .hygen/add/component/index.tsx.t
Due: none

update ci.
  .github/workflows/ci-for-preview.yml
  .github/workflows/ci.yml
  .github/workflows/delivery.yml
  .github/workflows/preview.yml
Due: none

Path conditions:
  prettier --write: (any of: ./**/*.{ts,tsx}) or (any of: ./**/*.{js,jsx})
  eslint --fix --max-warnings 0: any of: ./**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.scss
