Repository kojiyamauchi/next-light-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

.lintstagedrc.yml:

./**/*.{ts,tsx}:
  - prettier --write
  - eslint --fix --max-warnings 0
./**/*.{js,jsx}: prettier --write
src/**/*.scss: stylelint --fix

update hygen.
  .hygen/add/component/Component.stories.tsx.t
  .hygen/add/component/Component.test.tsx.t
  .hygen/add/component/Component.tsx.t
  .hygen/add/component/Hooks.test.ts.t
  .hygen/add/component/Hooks.ts.t
  .hygen/add/component/index.js
  .hygen/add/hooks/Hooks.test.ts.t
  .hygen/add/hooks/Hooks.ts.t
  .hygen/add/hooks/index.js
Due: prettier --write

update seo component.
  src/components/Seo/index.tsx
Due: prettier --write, eslint --fix --max-warnings 0

update hygen.
  .hygen/add/component/Component.stories.tsx.t
  .hygen/add/component/Component.test.tsx.t
  .hygen/add/component/Component.tsx.t
  .hygen/add/component/Hooks.test.ts.t
  .hygen/add/component/Hooks.ts.t
  .hygen/add/component/index.js
  .hygen/add/hooks/Hooks.test.ts.t
  .hygen/add/hooks/Hooks.ts.t
  .hygen/add/page/Page.ts.t
  .hygen/add/store/Store.ts.t
  .hygen/add/store/index.js
Due: prettier --write

update hygen.
  .hygen/add/component/Component.stories.tsx.t
  .hygen/add/component/Component.test.tsx.t
Due: none

update hygen.
  .hygen/add/component/index.js
  .hygen/add/store/index.js
Due: prettier --write

update hygen.
  .hygen/add/component/Component.tsx.t
Due: none

update hygen.
  .hygen/add/component/Hooks.test.ts.t
  .hygen/add/hooks/Hooks.test.ts.t
Due: none

update app.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix --max-warnings 0

update & change modules.
  package.json
Due: none

update hygen.
  .hygen/add/component/Component.stories.tsx.t
  .hygen/add/component/Component.test.tsx.t
  .hygen/add/component/Component.tsx.t
  .hygen/add/component/index.tsx.t
Due: none

fix.
  src/components/Presentations/Footer/Component.tsx
Due: prettier --write, eslint --fix --max-warnings 0

update around compoents.
  src/components/Layouts/BlogListLayout/style.module.scss
  src/components/Layouts/BlogPostLayout/style.module.scss
  src/components/Layouts/FixedLayout/style.module.scss
  src/components/Managements/HeaderContainer/style.module.scss
  src/components/Presentations/Footer/style.module.scss
Due: stylelint --fix

update around hygen.
  .hygen/add/component/Hooks.test.ts.t
  .hygen/add/component/Hooks.ts.t
Due: none

update around storybook.
  .storybook/preview.js
  src/styles/storybook.scss
Due: prettier --write, stylelint --fix

update hygen.
  .hygen/add/store/Store.ts.t
Due: none

update stylelintrc.
  .stylelintrc.yml
Due: none

update break point.
  src/components/Managements/HeaderContainer/style.module.scss
  src/components/Presentations/BlogListData/style.module.scss
  src/components/Presentations/BlogListHeading/style.module.scss
  src/components/Presentations/BlogListPager/style.module.scss
  src/components/Presentations/BlogPostContent/style.module.scss
  src/components/Presentations/BlogPostData/style.module.scss
  src/components/Presentations/BlogPostPager/style.module.scss
  src/components/Presentations/Footer/style.module.scss
  src/components/Presentations/GlobalHeading/style.module.scss
  src/components/Presentations/Image/style.module.scss
  src/components/Presentations/Navigation/style.module.scss
  src/components/Presentations/PageHeading/style.module.scss
  src/styles/constants.scss
  src/styles/mixins.scss
  src/styles/utilities.scss
Due: stylelint --fix

update hygen.
  .hygen/add/component/style.module.scss.t
Due: none

update modules.
  package.json
Due: none

update next.config.js
  next.config.js
Due: prettier --write

update .eslintrc.yml & check later.🔍
  .eslintrc.yml
Due: none

update modules & npm script.
  package.json
Due: none

update .eslintrc.yml
  .eslintrc.yml
Due: none

update next-env.d.ts
  next-env.d.ts
Due: prettier --write, eslint --fix --max-warnings 0

update tsconfig.json
  tsconfig.json
Due: none

add linting modules.
  lint.dev/color.js
  lint.dev/eslint.dev.js
  lint.dev/images/logo_eslint.png
  lint.dev/images/logo_stylelint.png
  lint.dev/index.js
  lint.dev/stylelint.dev.js
Due: prettier --write

fix eslint.
  src/components/Layouts/BlogListLayout/BlogListLayout.stories.tsx
  src/components/Layouts/BlogPostLayout/BlogPostLayout.stories.tsx
  src/components/Layouts/FixedLayout/FixedLayout.stories.tsx
  src/components/Managements/HeaderContainer/HeaderContainer.stories.tsx
  src/components/Presentations/BlogListData/BlogListData.stories.tsx
  src/components/Presentations/BlogListHeading/BlogListHeading.stories.tsx
  src/components/Presentations/BlogListPager/BlogListPager.stories.tsx
  src/components/Presentations/BlogPostContent/BlogPostContent.stories.tsx
  src/components/Presentations/BlogPostData/BlogPostData.stories.tsx
  src/components/Presentations/BlogPostPager/BlogPostPager.stories.tsx
  src/components/Presentations/Footer/Footer.stories.tsx
  src/components/Presentations/GlobalHeading/GlobalHeading.stories.tsx
  src/components/Presentations/Image/Component.tsx
  src/components/Presentations/Image/Image.stories.tsx
  src/components/Presentations/Image/Image.test.tsx
  src/components/Presentations/Image/style.module.scss
  src/components/Presentations/Navigation/Navigation.stories.tsx
  src/components/Presentations/PageHeading/PageHeading.stories.tsx
  src/pages/blog-category/[[...slug]].tsx
  src/pages/blog-list/[[...slug]].tsx
  src/pages/blog-post/[slug].tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

update hygen.
  .hygen/add/component/Component.stories.tsx.t
Due: none
